body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
    padding : 10px;
}

header span {
    float: right;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-grow: 1;
    flex-direction: row !important;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    margin-right: auto;
    padding-left: 1em;
}

.nav-item {
    margin: 0 1.5em;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: .5em;
}

.user-info a {
    color: blue;
    font-size: .75em;
}

footer {
    flex: 0 30px;
}

h1 {
    padding-bottom: 100px;
}

footer a {
    float: right;
}