div {
    padding: 1em;
}

.popup .stars button {
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
}

.popup .stars button:active {
    border: 5px solid black;
}